@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://unpkg.com/ress/dist/ress.min.css");
body {
  font-family: 'Noto Sans JP',sans-serif;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); }

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/* container */
.l-container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto; }

.c-logo {
  display: block; }

.c-logo__image {
  height: 40px;
  vertical-align: bottom; }

.c-link {
  text-decoration: none; }

.c-link:hover {
  opacity: 0.5; }

.p-header {
  color: #fff;
  background: #000;
  opacity: 0.7; }

.p-header__container {
  padding: 0 40px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center; }

.p-header__area_nav_header {
  margin-left: auto; }
  .p-header__area_nav_header a {
    color: white; }

.p-header__list_nav_header {
  display: flex;
  align-items: center;
  list-style: none; }
  .p-header__list_nav_header li {
    padding: 0 40px; }
  .p-header__list_nav_header li + li {
    border-left: solid 1px #ccc; }
  .p-header__list_nav_header .c-link {
    font-size: 15px; }
  .p-header__list_nav_header .c-link:hover {
    font-size: 20px; }

.p-main_top__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -9999;
  max-width: 1400px;
  height: 900px;
  background-image: url(../img/eyecatch.png);
  opacity: 0.7; }

.p-main_top__eyecatch_title {
  color: #fff;
  font-size: 60px; }

.u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); }
