@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://unpkg.com/ress/dist/ress.min.css");
body {
  font-family: 'Noto Sans JP',sans-serif; }

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

/* container */
.l-container {
  max-width: 1200px;
  padding: 0 100px;
  margin: 0 auto; }

.c-box {
  position: relative;
  display: inline-block; }

.c-logo {
  display: block; }

.c-logo__image {
  height: 40px;
  vertical-align: bottom; }

.c-link {
  text-decoration: none; }

.c-link:hover {
  opacity: 0.5; }

.c-button {
  position: relative;
  display: inline;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer; }

.c-flex_container {
  display: flex; }

.c-title {
  font-size: 50px; }

.p-header {
  color: #fff;
  background: #000;
  opacity: 0.7; }

.p-header__container {
  padding: 0 40px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center; }

.p-header__area_nav_header {
  margin-left: auto; }
  .p-header__area_nav_header a {
    color: #fff; }

.p-header__list_nav_header {
  display: flex;
  align-items: center;
  list-style: none; }
  .p-header__list_nav_header li {
    padding: 0 40px; }
  .p-header__list_nav_header li + li {
    border-left: solid 1px #ccc; }
  .p-header__list_nav_header .c-link {
    font-size: 15px; }
  .p-header__list_nav_header .c-link:hover {
    font-size: 20px; }

.p-header__menu {
  display: none; }

@media screen and (max-width: 480px) {
  .p-header__area_nav_header {
    display: none; }
  .p-header__menu {
    background: #000;
    display: block;
    position: fixed;
    top: 60px;
    right: 0;
    width: 150px;
    height: 100%;
    z-index: 5;
    opacity: 0.7;
    transition: all .5s;
    /* 移動する速さ */
    transform: translateX(150px);
    /* right:0から150px移動した位置 */ }
  .p-header__menu.open {
    transform: translateX(0); }
  .p-header__list_nav_header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; }
    .p-header__list_nav_header li {
      padding: 40px 0;
      margin-right: 10px; }
    .p-header__list_nav_header li + li {
      border: none; }
    .p-header__list_nav_header a {
      color: #fff; } }

.p-main_top__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -9999;
  max-width: 1400px;
  height: 900px;
  background-image: url(../img/eyecatch.png); }

.p-main_top__eyecatch_title {
  color: #fff;
  font-size: 60px; }

@media screen and (max-width: 480px) {
  .p-main_top__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -9999;
    max-width: 1400px;
    height: 900px;
    background-repeat: repeat;
    background-image: url(../img/small_eyecatch.png); }
  .p-main_top__eyecatch_title {
    font-size: 30px; } }

@media screen and (max-width: 480px) {
  .p-hamburger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 50%;
    border: 1px solid #f9d8ae;
    box-shadow: 0 0 2rem transparent;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .p-hamburger:hover,
  .p-hamburger:focus {
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5); }
  .p-hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* 親要素に対してど真ん中に配置 */
    width: 18px;
    /* お肉の幅 */
    height: 2px;
    /* お肉の高さ */
    background-color: #f9d8ae;
    -webkit-transition: inherit;
    transition: inherit; }
  .p-hamburger__line::before,
  .p-hamburger__line::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transition: inherit;
    transition: inherit; }
  .p-hamburger__line::before {
    top: -5px; }
  .p-hamburger__line::after {
    top: 5px; }
  .p-hamburger[aria-expanded="true"] .p-hamburger__line {
    background-color: transparent; }
  .p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
  .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
    top: 0;
    background-color: #f9d8ae; }
  .p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

.p-drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  -webkit-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out; }

.is-drawerActive .p-drawer {
  transform: translateX(0); }

.p-main_about__flex_container {
  width: 1200px;
  padding: 100px;
  justify-content: space-between;
  align-items: center; }

.c-flex_container .c-box {
  width: 500px;
  height: 300px;
  margin: 30px;
  background-color: #8fc1e2; }

.p-main_games__container {
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -9999;
  max-width: 1400px;
  height: 900px; }

.p-games__title {
  margin: 0 auto; }

.p-main_games__flex_container {
  margin: auto; }

.p-main_games__game {
  padding: 10px 30px;
  border: solid 3px #6091d3;
  border-radius: 10px;
  margin: 30px 30px; }

.u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); }

@media screen and (max-width: 480px) {
  .u-visuallyHidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%); } }

.u-pos_top_60 {
  position: absolute;
  top: 60px; }
