@media screen and (max-width: 480px) {
    .p-hamburger {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 48px;
        height: 48px;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 5px;
        border-radius: 50%;
        border: 1px solid #f9d8ae;
        box-shadow: 0 0 2rem transparent;
        outline: none;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .p-hamburger:hover,
    .p-hamburger:focus {
        box-shadow: 0 0 .5rem rgba(255, 255, 255, .5 );
    }

    .p-hamburger__line {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; /* 親要素に対してど真ん中に配置 */
        width: 18px; /* お肉の幅 */
        height: 2px; /* お肉の高さ */
        background-color: #f9d8ae;
        -webkit-transition: inherit;
                transition: inherit;
    }

    .p-hamburger__line::before,
    .p-hamburger__line::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: inherit;
        -webkit-transition: inherit;
                transition: inherit;
    }

    .p-hamburger__line::before {
        top: -5px;
    }

    .p-hamburger__line::after {
        top: 5px;
    }
}
