// The header.
.p-header {
    color: #fff;
    background: #000;
    opacity: 0.7;
}

// Container for header.
.p-header__container {
    padding: 0 40px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center
}

// The area of navigation.
.p-header__area_nav_header {
    margin-left: auto;

    a {
        color: #fff;
    }
}

// The list of navigation.
.p-header__list_nav_header {
    display: flex;
    align-items: center;
    list-style: none;

    li {
        padding: 0 40px;
    }

    li+li {
        border-left: solid 1px #ccc;
    }

    // Make c-link apporopriate size.
    .c-link {
        font-size: 15px;
    }

    .c-link:hover {
        font-size: 20px;
    }
}

.p-header__menu {
    display: none;
}

@media screen and (max-width: 480px) {
    .p-header__area_nav_header {
        display: none;
    }


    .p-header__menu {
        background: #000;
        display: block;
        position: fixed;
        top: 60px;
        right: 0;
        width: 150px;
        height: 100%;
        z-index: 5;
        opacity: 0.7;
        transition: all .5s; /* 移動する速さ */
        transform: translateX(150px); /* right:0から150px移動した位置 */
    }

    .p-header__menu.open {
        transform: translateX(0);
    }

    .p-header__list_nav_header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        li {
            padding: 40px 0;
            margin-right: 10px;
        }

        li+li {
            border: none;
        }

        a {
            color: #fff;
        }
    }
}
