.p-header {
    color: #fff;
    background: #000;
    opacity: 0.8;

    .c-button {
        display: none;
    }
}

.p-header__container {
    padding: 0 40px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center
}

.p-header__area_nav_header {
    margin-left: auto;

    a {
        color: white;
    }
}

.p-header__list_nav_header {
    display: flex;
    align-items: center;
    list-style: none;

    li {
        padding: 0 40px;
    }

    li+li {
        border-left: solid 1px #ccc;
    }

    .c-link {
        font-size: 15px;
    }

    .c-link:hover {
        font-size: 20px;
    }
}
