// Main content of top page.
.p-main_top__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -9999;
    max-width: 1400px;
    height: 900px;
    background-image: url(../img/eyecatch.png);
    opacity: 0.7;
}

// The letter: "Ojun Portfolio".
.p-main_top__eyecatch_title {
    color: #fff;
    font-size: 60px;
}
